<%- include('../partials/header') %> 
    <table>
        <thead>
            <tr><h3>D E P A R T U R E S</h3></tr>
        </thead>
        <thead>
            <tr>
                <th>flight</th>
                <th>airport</th>
                <th>airline</th>
                <th>date</th>
            </tr>
            </thead>
        <tbody>
            <% flights.forEach(f => { %>
                <tr>
                    <td><%= f.flightNo %></td>
                    <td><%= f.airport %></td>
                    <td><%= f.airline %></td>
                    <td><%= f.departs %> </td>
                    <td><a href="/flights/<%= f.id %>">click to view details</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</main>
</body>
</html>